language: node_js

node_js:
  - 12.13.0

services:
  - postgresql

env:
  global:
  - NODE_ENV=test  

before_script:
  - psql -c 'create database spinners_test;' -U postgres

cache: npm

install:
  - npm install

script:
  - npm test  
